{% extends "./base.html" %}
{% block contents %}
<div class="row mt-5">
    <div class="col-12">
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>제목</th>
                    <th>아이디</th>
                    <th>일시</th>
                </tr>
            </thead>
            <tbody class="text-dark">
            {% for board in boards %}
            <tr>
                <th>{{ board.id }}</th>
                <th>{{ board.title }}</th>
                <th>{{ board.writer }}</th>
                <th>{{ board.registered_dttm }}</th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button class="btn btn-primary">글쓰기</button>
    </div>
</div>


{% endblock %}